.my-legend {
  z-index: 1;
  position: absolute;
  top: 70px;
  right: 20px;
}

.my-legend .legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 90%;
}

.my-legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
}

.my-legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
}

.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
}

.list-group-item-action:hover {
  background-color: error;
}

.hidden {
  display: none;
}

.sidebar {
  overflow-y: scroll;
  overflow-x: hidden;
}

#sidebar-wrapper .list-group {
  width: 100% !important;
}

.statisticsCard {
  width: 60%;
  height: 100px;
}

.verificationsCard {
  width: 80%;
  height: 120px;
}

.menu-item-body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-value-container {
  margin: 10px;
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inline-text {
  display: inline;
  white-space: nowrap;
}

.searchfield {
  width: 400px;
}

.text-center {
  text-align: center;
}

.profile-image {
  width: 10vw;
  border-radius: 50%;
}

.user-image {
  width: 6vw;
  border-radius: 50%;
}

.group-image {
  width: 6vw;
  border-radius: 50%;
}

@media (min-width: 768px) {
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -35vw !important;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ed795d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

.slider:after {
  content: "2D";
  color: black;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 20px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
  content: "3D";
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: #e8b9ae;
  width: 95%;
  height: 5px;
  padding: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ed795d;
  opacity: 0.7;
  width: 10px;
  height: 20px;
}

.text-too-small {
  font-size: 10px;
}

.text-small {
  font-size: 12px;
}

.text-medium {
  font-size: 16px;
}

option {
  font-size: 12px;
}

.title {
  font-size: 16px;
  color: #fff !important;
  margin-top: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.combo-title {
  font-size: 16px;
  margin-top: 0.5rem !important;
  color: #fff !important;
  margin-left: 0.5rem !important;
}

.value {
  font-size: 12px;
  color: #fff !important;
}

.qrcodeblock {
  display: flex;
  justify-content: center;
}

.qrcodeblock img {
  border: 5px solid white;
}

.player-buttons {
  cursor: pointer;
  padding-left: 0.5em;
  color: white !important;
}

#loadingoverlay {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.6);
}

.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 200px;
  height: 200px;
  border: 0px #ddd solid;
  border-top: 10px #2e93e6 solid;
  border-radius: 70%;
  border-color: #ed795d;
  animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

ul,
.tree {
  list-style-type: none;
}

.tree {
  margin: 0;
  padding: 0;
}

.caret {
  margin: 0;
  padding: 0;
  cursor: pointer;
  user-select: none;
  /* Prevent text selection */
}

.caret::before {
  content: "\2295";
  color: white;
  display: inline-block;
  margin-right: 2px;
}

.caret-down::before {
  content: "\2296";
}

.nested {
  display: none;
  margin: 0px;
  padding-left: 8px;
}

.active {
  display: block;
}

.comment-nodes-container {
  margin-top: 0.25rem !important;
  margin-right: 3rem !important;
  margin-left: 3rem !important;
  margin-bottom: 0.5rem !important;
}

.chat {
  width: 90% !important;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  float: left;
}

.chat-reply {
  width: 90% !important;
  border-color: #ccc;
  background-color: #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  float: right;
}
