.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: orange;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .closebtn {
  position: absolute;
  color: inherit;
  top: 10px;
  text-decoration: none;
  right: 10px;
  margin-left: 60px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#right_header {
  float: right;
}

#menubtn {
  width: 48px;
  height: 48px;
  float: right;
}

#statisticsbtn {
  padding: 10px;
  display: flex;
  align-items: center;
  float: left;
}

#statisticsform {
  margin: 5px;
  padding: 10px;
  display: block;
}

#menuform {
  padding: 10px;
}

#brightid {
  font-size: 10px;
}

#verifications {
  font-size: 10px;
}

.box {
  padding-bottom: 20px;
}

#logoutbtn {
  display: none;
  margin-bottom: 20px;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}

#searchbox {
  float: left;
  padding: 10px;
}

#menuform label {
  margin-bottom: 10px;
  display: block;
}

#menuform input {
  margin-bottom: 10px;
  width: 100%;
}

#userform {
  padding: 10px;
}

#userform label {
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
}

#userform * {
  width: 100%;
  margin-bottom: 10px;
}

#photo {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  float: right;
}

#usergroupphoto {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  float: right;
  margin-top: -42px;
}

#groupsfield {
  position: absolute;
  left: -1000px;
  top: -1000px
}

#brightidfield {
  position: absolute;
  left: -1000px;
  top: -1000px
}

#brightidtext {
  font-size: 10px;
  margin-bottom: 10px;
}

#groupform {
  padding: 10px;
}

#groupform label {
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
}

#groupform * {
  width: 100%;
  margin-bottom: 10px;
}

#groupphoto {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  float: right;
}

#groupuserphoto {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  float: right;
  margin-top: -42px;
}

#membersfield {
  position: absolute;
  left: -1000px;
  top: -1000px
}

#groupidfield {
  position: absolute;
  left: -1000px;
  top: -1000px
}

#groupid {
  font-size: 10px;
  margin-bottom: 10px;
}

#daterange {
  width: 100%;
  margin-bottom: 10px;
}

.container {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: 'Baloo Paaji 2', cursive;
}

.card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border: 2px solid #272133;
  height: 100px;
  padding: 10px;
}

.card__name {
  font-size: .8em;
}

.card__image {
  height: 20px;
  width: 20px;
}

.card_num {
  color: white;
  font-size: 2em;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
